<!-- Custom or default site title -->
{{/*  {{ if or (templates.Exists "partials/custom/site-title") (templates.Exists "partials/custom/site-title.html") }}
  {{ partial "custom/site-title" . }}
{{ else }}
  <a href="{{ .Site.BaseURL | relLangURL }}" style="text-transform:uppercase">{{ .Site.Params.Author }}</a>
{{ end }}  */}}

<!-- Menu -->
{{ if .Site.Menus.main }}
    <nav aria-label="{{ T "main_menu" }}">
      <ul>
        {{ range .Site.Menus.main }}
          <li><a class="btnHeader" href="{{ .URL | relLangURL }}">{{ .Name }}</a></li>
        {{ end }}
      </ul>
    </nav>
{{ end }}
