{{ define "main" }}

  {{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}

  <main class="index">
    {{ if .Content }}
      <article>
        {{ if not .Params.hideTitle }}
          <h1>{{ .Title | emojify }}</h1>
        {{ end }}
        
        {{ partial "processed-content" . }}
      </article>
    {{ else }}
    
      <h1>{{ T "posts" }}</h1>
      
      <ul class="posts">
       {{ range $paginator.Pages }}
          <li>
            <a class="btn" href="{{ .Permalink }}">
              <p>{{ .LinkTitle | emojify }}</p>
              {{ partial "post-card-meta" . }}
            </a>
          </li>
        {{ end }}
      </ul>
      
      {{ partial "pagination" . }}
      
    {{ end }}
    
  </main>

{{ end }}
