// "A Hassle-Free Way to Self-Host Google Fonts" by Mario Ranftl
// https://gwfh.mranftl.com/fonts

// NOTE
// Added the font-display afterwards

// Woff2 is used for Chrome 36+, Opera 23+, Firefox 39+
// Woff is used for Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+

/* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
$font-display: swap;

/* inter-regular - latin */
@font-face {
    font-display: $font-display;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter-v12-latin-regular.woff2') format('woff2'), url('../fonts/inter-v12-latin-regular.woff') format('woff');
}

/* nunito-700 - latin */
@font-face {
    font-display: $font-display;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/nunito-v26-latin-700.woff2') format('woff2'),
        url('../fonts/nunito-v26-latin-700.woff') format('woff');
}

/* jetbrains-mono-regular - latin */
@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-display: $font-display;
    src: url('../fonts/jetbrains-mono-v12-latin-regular.woff2') format('woff2'), url('../fonts/jetbrains-mono-v12-latin-regular.woff') format('woff');
}