// Typography
$heading-font:  'Ubuntu Mono', monospace;
$body-font:     'Jetbrains Mono', monospace;
$code-font:     'Jetbrains Mono', monospace;

$font-size:         18px;
$heading-scaling:   .25;

$heading-weight:    700;
$body-bold-weight:  700;
