// Typography
$heading-font: 'Geist Sans', 'Arial', sans;
$body-font: 'Geist Sans', 'Arial', sans;
$code-font: 'Jetbrains Mono', monospace;

$font-size: 16px;
$heading-scaling: .25;

$heading-weight: 700;
$body-bold-weight: 700;