// Typography
$heading-font: 'Geist Sans', 'Arial', sans-serif;
$body-font: 'Geist Sans', 'Arial', sans-serif;
$code-font: 'Jetbrains Mono', monospace;

$font-size: 16px;
$heading-weight: 700;
$heading-bold-weight: 600;
$body-bold-weight: 700;
