// Light mode palette
$light-background: #faf9f6; // before: #ddd
$light-foreground: #444;

$light-alt-background: #f4f1ea;
$light-alt-foreground: #333;

$light-details: #faf9f6; // before: #fdfdfd
$light-error-color: #c70000;

$light-bg-modifier: rgba(0, 0, 0, .3);

$light-input-background: #faf9f6;
$light-input-foreground: #111;
$light-input-border: #ccc;

$light-letterpress: rgba(0, 0, 0, .2);

// Dark mode palette
$dark-background: #1f1f1f; // # Body - before: 282828, 22272b
$dark-foreground: #b1b1b1; // #bbb

$dark-alt-background: #232323; // # Header and footer background - before: 161a1d
$dark-alt-foreground: #f1f1f1; // #ddd

$dark-details: #1a1a1a;
$dark-error-color: #ff3131;

$dark-bg-modifier: rgba(255, 255, 255, .3);

$dark-input-background: #222;
$dark-input-foreground: #f0f0f0;
$dark-input-border: #262626;

$dark-letterpress: rgba(255, 255, 255, .2);

// Lazy way to deter images that can be too bright
$img-filter: contrast(1);
//   grayscale(.3);

// General purpose
$box-border: #222;
$error-color: red;
$selected-fg: #282828; // #f0f0f0